{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Knitnet</title>
    <!-- Latest compiled and minified CSS -->
    <link rel = "stylesheet" href = "{% static 'css/bootstrap.css' %}">
<!-- jQuery library -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>

<!-- Popper JS -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/74f2522d0b.js" crossorigin="anonymous"></script>

    <script>
        let x = 0;
        function hide_logo(){
            x++;
            if(x%2 != 0){
                document.getElementById("logo").style.display="none";
            }
            else{
                document.getElementById("logo").style.display="block";
            }
        }
    </script>
</head>

<body class="bg-white" style="font-family: Quicksand; height: 100vh;">
    
    <nav class="navbar navbar-expand-lg bg-light shadow">
        <div class="container-fluid">
            <a id="logo" class="navbar-brand" style="z-index: 2; position: absolute;"><img src="{% static '\media\logo\2.png' %}"width="75" height="75"></a>
            <button onclick="hide_logo()" style="margin-left: 93%;" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="collapse navbar-collapse nav-link disabled text-muted px-5" style="width: 1%; margin-left: 5%;">Update records</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/memberhome" >Home</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li> -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Tasks
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/add_event">Add new event</a></li>
                            <li><a class="dropdown-item" href="/events">View all society events</a></li>
                            <li><a class="dropdown-item" href="/add_budget" id="fin-records">Edit financial records</a></li>
                            <li><a class="dropdown-item" href="/recruit">Recruit</a></li>
                            <li><a class="dropdown-item" href="/promotions">Apply for promotion</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" id="contact-HR" href="#">Contact HR</a></li>
                            <li><a class="dropdown-item" href="/members" id="member-info">View member information</a></li>
                        </ul>
                    </li>
                </ul>
                <form method="POST" action="/logout">
                    {% csrf_token %}
                    <button style="border: 0px; background-color: transparent; height: inherit; margin-top: 10px;" type="submit" class="nav-item navbar-nav"><p class="py-1">Sign out</p><i class="fa-solid fa-right-from-bracket nav-link"></i></button>
                </form>            
            </div>
        </div>
      </nav>

    <div class="container py-4">
        <h2><i class="fa-regular fa-address-card"></i>  Edit financial records</h2>
          <p>Please fill in this form to edit the financial records of the society and add changes to the database</p>
        <hr>
        <form action="#" class="container form my-5">
            <div class="row my-4">

                <div class="col-5" style="text-align: left;"><label for="sponsor-name"><b>Sponsor name</b></label></div>
                <div class="col"><input style="width: 100%;" type="text" placeholder="Enter sponsor name" name="sponsor-name" id="sponsor_name" class="px-1" required></div>
            </div>
            <div class="row my-4">

                <div class="col-5" style="text-align: left;"><label for="sponsor-name"><b>Add budget</b></label></div>
                <div class="col"><input style="width: 100%;" type="text" placeholder="Enter budget" name="sponsor-name" id="budget" class="px-1" required></div>
            </div>
            <div class="row my-4">
                <div class="col" style="text-align: left;"><label for="sponsor-name"><b>Select department</b></label></div>
                <div class="col dropdown input-group-btn">
                    <!-- <div class="dropdown-menu btn btn-secondary dropdown-toggle" role="menu" aria-labelledby="dept-selector">Select department</div> -->
                    <select style="width: 75%;" class="btn btn-secondary dropdown-toggle" role="menu" type="button" id="dept-selector" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <ul>
                            <li><option class="dropdown-item">Finance</option></li>
                            <li><option class="dropdown-item">Human Resources</option></li>
                            <li><option class="dropdown-item">Legal</option></li>
                            <li><option class="dropdown-item">Marketing</option></li>
                        </ul>    
                    </select>
                </div>
                <!-- <div class="col">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">Select department</button>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-item"><a href="#">HR</a></li>
                        </ul>
                    </div>
                </div> -->
            </div>
            <div class="row my-4">
                <div class="col-5" style="text-align: left;"><label for="name"><b>Email</b></label></div>
                <div class="col"><input style="width: 100%;" type="email" placeholder="Enter email" name="email" id="email" class="px-1" required></div>
            </div>
            <div class="row my-4">
                <div class="col-5" style="text-align: left;"><label for="name"><b>Phone number</b></label></div>
                <div class="col"><input style="width: 100%;" type="number" placeholder="Enter phone no." name="ph" id="ph" class="px-1" required></div>
            </div>
            <div class="row my-4">
                <div class="col-5" style="text-align: left;"><label for="name"><b>Address</b></label></div>
                <div class="col"><input style="width: 100%;" type="text" placeholder="Enter address" name="addr" id="addr" class="px-1" required></div>
            </div>
        </form>
        <hr>
        <button class="row-5 btn btn-secondary" type="submit">Submit</button>
    </div>
    <script src="../static/js/bootstrap.bundle.js"></script>
    <script src="../static/js/Knitnet.js"></script> </body>
</html>